@model DotNetCoreMVCDemo.DomainLayer.Entity.Tickets

@{
    ViewData["Title"] = "Create";
    var movieName = string.Empty;
    var movieId = Guid.Empty;
    if (Model.Movie != null)
    {
        movieName = Model.Movie.MovieName;
        movieId = Model.Movie.Id;
    }
}

<h1>Add Tickets</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <h5>Movie Name :  @movieName </h5><br>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CustomerName" class="control-label"></label>
                <input asp-for="CustomerName" class="form-control" />
                <span asp-validation-for="CustomerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Show Time</label>
                <input asp-for="ShowDate" class="form-control" />
                <span asp-validation-for="ShowDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <select asp-for="Gender" class="form-control" asp-items="Html.GetEnumSelectList<DotNetCoreMVCDemo.DomainLayer.Entity.Gender>()">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <input type="hidden" value="@movieId" asp-for="MovieId" />
            <br>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="Movies">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
